/* Shared style */
.text-light-gray
{
    color: #727272;
}
.btn-primary{
    border-radius:8px ;
    background: #ff900e;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;

}
/* header styles */
header{
    background: rgba(255, 144, 14,0.10);
    padding:50px 240px ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul
{
    display: flex;
}
nav li{
    list-style: none;
    margin: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}

.banner img{
    margin-top: 20px;
    width: 100%;
}


/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
    padding: 50px 240px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    /* or responsive 1.5rem */


}
.teams-content,.facts-card-container    {
    padding-right:20px ;
    padding-right: 20px;
}
.facts-card-container{

    gap: 20px;
}
.teams-title{
    font-size: 2.8rem;

}
.teams-title  .quick-list{

    color: #727272;
    font-weight: 500px;
}
.teams-title .text-features{
    color: #ff900e;
    font-weight: 700px;
}


/* Facts section */
.facts{
    padding: 50px 240px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;

}
.facts-card-container  .card{
border-radius: 8px;
border: 1px solid orange;
text-align: center;
padding: 30px;


}
.facts-card-container .card-title{
font-weight: 600px;
font-size: 1.25rem;
margin-top: 5px;

}


.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* features section-02  */


.features{
    display: flex;
    padding:50px 240px ;
    gap: 100px;
}

.features-img{
    
    width: 708px;
    height: 982px;
}
.ten-years-badge{

    border-radius: 8px;
    background: #ff900e;
    color: #FFF;
    width: 342px;
    padding: 30px;
}
.ten-years-badge h3{
    font-size: 4rem;

}
/* sponsors styles */
.sponsors{
    text-align: center;
}
.sponsors-img-contsiner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}
.sponsors-img-contsiner img{
    width: 165px;

}
/* responsive media styles */
/* Mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav ,.teams-container,
    .facts-card-container  
    ,.sponsors-img-contsiner      {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    
}
/* Tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container
    ,.sponsors-img-contsiner{
        flex-direction: column;
    }
    
}